:root {
    --headfoot-background-color: black;
    --background-color: gray;
    --nav-color-1: #00B140;
    --text-color1: white;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

header {
    display: flex;
    background-color: var(--headfoot-background-color);
    justify-content: space-around;
    width: 100%;
}

h1 {
    flex-grow: 1;
    font-size: 2vw;
    color: var(--text-color1);
    padding-left: 5%;
}

h2 {
    color: var(--text-color1);
}

nav ul,
p {
    padding-top: 3%;
}

nav ul li {
    display: inline;
    font-size: 1.2vw;
    padding: 20px;
    color: var(--nav-color-1);
}

.about-me {
    height: 25vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(45deg, black, transparent);
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.about-me-item {
    text-wrap: wrap;
    max-width: 30%;
    color: var(--text-color1);
    font-size: 1rem;
}

.about-me-item img {
    width: 14em;
    height: auto;
    border-style: solid;
    border-width: thick;
    border-color: black;
    margin-top: 2%;
}

a:visited {
    text-decoration: none;
    color: var(--text-color-1);
}

main {
    padding-left: 1%;
    padding-right: 1%;
    background-color: var(--background-color);
}

#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    justify-content: space-around;
    margin: 1%;
}

/* Here the user interacts with the images, hovering over them reveales a full and clear image, rather than a
blurry and translucent one, by default */
.projects img {
    opacity: 0.3;
    width: 100%;
    height: auto;
    /* filter: blur(8px); */
    -webkit-filter: blur(8px);
}

.projects img:hover {
    opacity: 1;
    /* filter: none; */
    -webkit-filter: none;
    transition: 0.5s;

}

.deployed-project {
    width: 40em;
    position: relative;
    border-style: solid;
    border-width: thick;
    margin: 1%;
    height: fit-content;
}

.deployed-project img {
    opacity: 0.3;
    width: 100%;
    -webkit-filter: blur(8px);
}

.deployed-project img:hover {
    opacity: 1;
    /* filter: none; */
    -webkit-filter: none;
    transition: 0.5s;

}

.projects-card {
    flex: 0 0 400px;
    position: relative;
    border-style: solid;
    border-width: thick;
    height: fit-content;
}

.projects-title {
    position: absolute;
    bottom: 10px;
    background-color: var(--headfoot-background-color);
    padding: 10px;
}

.em {
    color: var(--text-color-1);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background-color: var(--headfoot-background-color);
}

footer form {
    font-size: 1em;
    color: white;
    position: relative;
    padding-top: 1%;
}

/* Media Queries made for 6 different screen sizes from Extra-Extra Large down to Extra Small */

/* 2XL */
@media screen and (max-width: 1536px) {

    .projects,
    .deployed-project,
    header,
    main,
    footer {
        min-width: 1536px;
    }

    header, main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 20px;
    }

}

/* XL */
@media screen and (max-width: 1280px) {

    .projects,
    .about-me,
    .deployed-project,
    header,
    main,
    footer {
        min-width: 1280px;
    }

    header, main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 20px;
    }
}

/* L */
@media screen and (max-wdith: 1024px) {

    .projects,
    .deployed-project,
    .about-me,
    header,
    main,
    footer {
        min-width: 1024px;
    }

    header, main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 18px;
    }
}

/* M */
@media screen and (max-width: 768px) {

    .projects,
    .about-me,
    .deployed-project,
    header,
    main,
    footer {
        min-width: 768px;
    }

    header, main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 16px;
    }
}

/* S */
@media screen and (max-width: 640px) {

    .projects,
    .deployed-project,
    .about-me,
    header,
    main,
    footer {
        min-width: 640px;
    }

    header, main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 16px;
    }
}

/* xs */
@media screen and (max-width: 475px) {

    .projects,
    .about-me,
    .deployed-project,
    header,
    main,
    footer {
        min-width: 475px;
    }


    header,
    .about-me,
    main {
        flex-direction: column;
    }

    h1,
    nav,
    form {
        font-size: 16px;
    }
}