:root {
    --headfoot-background-color: black;
    --background-color: gray; 
    --text-color-1: #00B140; 
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--headfoot-background-color);
}

h1 {
    flex-grow: 8;
    font-size: 2.5vw;
    color: white;
    padding-left: 5%;
    
}
h2 {
    color: white;
}
nav ul {
    padding-top: 3%;
}
nav ul li {
    display: inline;
    font-size: 1.2vw;
    padding: 20px;
    color: var(--text-color-1);
}

.about-me {
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    background-color: var(--background-color);
}
.about-me-item{
    flex: 1 0 350px;
    padding-left: 5%;
}
.about-me-item img {
    width: 14em;
    height: auto;
    margin-left: 22%;
    border-style: solid;
    border-width: thick;
}

a:visited {
    text-decoration: none;
    color: var(--text-color-1);
}

main {
    padding-left: 1%;
    padding-right: 1%;
    background-color: var(--background-color);
}
.projects {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
    justify-content: space-around;
}

.projects img {
    opacity: 0.3;
    width: 30em;
    height: auto;
    /* filter: blur(8px); */
    -webkit-filter: blur(8px);
}

.projects img:hover {
    opacity: 1;
    /* filter: none; */
    -webkit-filter: none;
    transition: 0.5s;
    
}

.projects-card {
    flex: 1 0 400px;
    position: relative;
    border-style: solid;
    border-width: thick;
}

.projects-title {
    position: absolute;
    bottom: 10px;
    background-color: var(--headfoot-background-color);
    padding: 10px;
}

.em {
    color: var(--text-color-1);
}

footer {
    height: 5%;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--headfoot-background-color);
}

footer form {
    color: white;
    position: relative;
    padding-top: 1%;
}

@media screen and (max-width:992){
.projects, .about-me {
    width: 66%;
}
}

@media screen and (max-width:768){
    .projects, .about-me {
        width: 33%;
    }
}

